<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container ">
    <h2 class="">Fill the below form </h2>

<br>
    <form action="/contact/" method="post" >

      {% csrf_token %}
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input type="email" class="form-control" name="email" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
 

      <div class="mb-3">
    <label for="exampleInputEmail2" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="exampleInputEmail2" aria-describedby="emailHelp1">
  </div>

      <div class="mb-3">
    <label for="exampleInputEmail3" class="form-label">Passout_year</label>
    <input type="number" class="form-control" name="Passout_year" id="exampleInputEmail3" aria-describedby="emailHelp2">
  </div>

      <div class="mb-4">
    <label for="exampleInputEmail4" class="form-label">company_name</label>
    <input type="text" class="form-control" name="company_name" id="exampleInputEmail4" aria-describedby="emailHelp3">
  </div>

      <div class="mb-5">
    <label for="exampleInputEmail5" class="form-label">job_role</label>
    <input type="text" class="form-control" name="job_role" id="exampleInputEmail5" aria-describedby="emailHelp4">
  </div>


  <div class="mb-6">
    <label for="exampleInputEmail6" class="form-label">linkedin_id</label>
    <input type="url" class="form-control" name="linkedin_id" id="exampleInputEmail6" aria-describedby="emailHelp5">
  </div>


   <br>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>




    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    -->
  </body>
</html>